.gigpress-table {
   table-layout: fixed;
}
.gigpress-calendar-links-inner, .gigpress-links-toggle {
    display: none;
} 
a.gigpress-links-toggle, th.gigpress-heading {
     display: none;
}
td.gigpress-date , td.gigpress-venue, td.gigpress-city, td.gigpress-country, td.gigpress-artist {
    font-family: 'aleolight';
}
th.gigpress-date , th.gigpress-venue, th.gigpress-city, th.gigpress-country, th.gigpress-artist {
    font-family: 'antoniobold';    
    font-size: 1.6em;
    color: #EF4C4C;
    margin: 5% 0%; 
    text-shadow: 0px 1px 1px rgb(90,90,90);
}
.gigpress-header {
   background-color: #ECE7E4 !important;
}
.gigpress-table th {
   word-wrap: break-word;   
}