/*
 Theme Name:     Customizr Child
 Theme URI:      http://lamastrockv4.deploiement.ovh/
 Description:    Theme enfant pour lamastrock
 Author:         Rodolphe Robles
 Author URI:     https://www.rodinux.fr/
 Template:       customizr
 Version:        1.0.0
*/
@font-face{
   font-family: 'antoniobold';
   src: url('fonts/antonio-bold-webfont.eot');
   src: url('fonts/antonio-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/antonio-bold-webfont.woff') format('woff'),
        url('fonts/antonio-bold-webfont.ttf') format('truetype'),
        url('fonts/antonio-bold-webfont.svg#antoniobold') format('svg');
}
@font-face{ 
   font-family: 'antoniolight';
   src: url('fonts/antonio-light-webfont.eot');
   src: url('fonts/antonio-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('fonts/antonio-light-webfont.woff') format('woff'),
        url('fonts/antonio-light-webfont.ttf') format('truetype'),
        url('fonts/antonio-light-webfont.svg#antoniolight') format('svg');
}
@font-face{ 
   font-family: 'antonioregular';
   src: url('fonts/antonio-regular-webfont.eot');
   src: url('antonio-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('antonio-regular-webfont.woff') format('woff'),
        url('antonio-regular-webfont.ttf') format('truetype'),
        url('antonio-regular-webfont.svg#antonioregular') format('svg');
}
@font-face {
    font-family: 'aleobold';
    src: url('fonts/aleo-bold-webfont.eot');
    src: url('fonts/aleo-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aleo-bold-webfont.woff2') format('woff2'),
         url('fonts/aleo-bold-webfont.woff') format('woff'),
         url('fonts/aleo-bold-webfont.ttf') format('truetype'),
         url('fonts/aleo-bold-webfont.svg#aleobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleoitalic';
    src: url('fonts/aleo-italic-webfont.eot');
    src: url('fonts/aleo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aleo-italic-webfont.woff2') format('woff2'),
         url('fonts/aleo-italic-webfont.woff') format('woff'),
         url('fonts/aleo-italic-webfont.ttf') format('truetype'),
         url('fonts/aleo-italic-webfont.svg#aleoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleolight';
    src: url('fonts/aleo-light-webfont.eot');
    src: url('fonts/aleo-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aleo-light-webfont.woff2') format('woff2'),
         url('fonts/aleo-light-webfont.woff') format('woff'),
         url('fonts/aleo-light-webfont.ttf') format('truetype'),
         url('fonts/aleo-light-webfont.svg#aleolight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aleoregular';
    src: url('fonts/aleo-regular-webfont.eot');
    src: url('fonts/aleo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/aleo-regular-webfont.woff2') format('woff2'),
         url('fonts/aleo-regular-webfont.woff') format('woff'),
         url('fonts/aleo-regular-webfont.ttf') format('truetype'),
         url('fonts/aleo-regular-webfont.svg#aleoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* customisation slider */
.carousel-caption {
       background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
       max-width: 100%;
       padding: 0.2% 0.2%;          
       position: absolute;
       vertical-align: middle;
       left: 0px;
       right: 0px;
       margin: auto;       
}
.carousel-caption h1 {
     font-family: antoniobold;
     font-size: 1.8em;         
}

/* polices */
body {
   font-family: 'aleolight';
}
.site-title, .site-description, h1, h2, .tc-dropcap {
     text-align: center;
     color: #EF4C4C;     
     font-family: 'antoniobold', 'Arial Unicode MS', Helvetica, Sans-Serif;
     text-align: center;       
     background-color: rgba(108, 59, 38 , 0.1);          
}
h1 {
    font-family: 'antoniobold';
    text-align: center;
    margin: 5% 0%;
    line-height: 130%;
    font-size: 2.5em;
    color: #EF4C4C;
    text-shadow: 0px 1px 1px rgb(90,90,90);
}
.table thead th {
    font-family: 'antoniobold';    
    font-size: 1.6em;
    color: #EF4C4C;
    margin: 5% 0%; 
    text-shadow: 0px 1px 1px rgb(90,90,90);
    background-color: #ccc; 
}
.table {
table-layout: fixed;
}
.table th {   
   text-align: center;
   line-height: 30px;
}
.table td {
  font-size: 1em; 
  text-align: justify;
  line-height: 1.6em; 
  text-align: center;
  word-wrap: break-word;  
}
.site-description, h1 {
  margin-top: 12%;
  margin-bottom: 5%; 
}
h2 {
    font-family: 'antoniobold';
    text-align: center;
    color: #EF4C4C; 
    line-height: 3;     
}
h3, h4 {
    font-family: 'antoniobold';
    text-align:center;
    color: #EF4C4C; 
    line-height: 3;
}
a {
    font-family: 'aleoitalic'; 
    color: #737E35; 
}
a:focus, a:hover {
  color:#A7B145;
  text-decoration: none;    
}
p, li {
  font-family: 'aleolight'; 
  font-size: 0.9em; 
  text-align: justify;
  line-height: 1.6em; 
}
.row-fluid p {
   margin-right: 2em;
}
.no-justify {
    text-align: left;
}
.wp-caption .wp-caption-text {
  font-weight: bold;
  font-style: 'aleoitalic', 'Cantarel', Arial, ;
  font-size: 1.5rem;
  line-height: 1.1em;
  text-align: center;  
}
/* customisation de la nav */
.site-logo:hover {
     -webkit-filter:invert(1);
     -moz-filter: invert(1);
     -ms-filter: invert(1);
     -o-filter: invert(1);
     filter: invert(1);  
}
.tc-header {
    background: #A7B145 none repeat scroll 0% 0%;
    background-color: #A7B145;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    border-bottom: 3px solid #EF4C4C;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-bottom-color: #EF4C4C;
}
.sticky-enabled .tc-header {
        background: rgba(167, 177, 69, 0.8) none repeat scroll 0% 0%;
        background-color: rgba(167, 177, 69, 0.8);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        border-bottom: 2px solid #EF4C4C;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: #EF4C4C;
        border-top: 0px none;
        border-top-width: 0px;
        border-top-style: none;
        border-top-color: -moz-use-text-color;
} 
.navbar .nav > li > a {
    font-family: antoniobold;
    color: #E4E4E4;
    font-size: 0.9em;
    text-shadow: none;
}
.navbar .nav > li > a:hover {
     color: #EF4C4C; 
}
.tc-solid-color-on-scroll.sticky-enabled .navbar-inner, .tc-solid-color-on-scroll.sticky-enabled .tc-header {
        background: rgba(167, 177, 69, 0.8) none repeat scroll 0% 0%;
        background-color: rgba(167, 177, 69, 0.8);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;   
}
.sticky-enabled .tc-header .navbar .nav > li > a {
       font-size: 0.7em;
}
.nav-collapse.collapse, .no-navbar .nav-collapse {
        background: rgba(167, 177, 69, 0.9) none repeat scroll 0% 0%;
        background-color: rgba(167, 177, 69, 0.9);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
}
/* personnalisation footer */
footer#footer {
        color: #D34C4C !important;
        border-top: 10px solid #EF4C4C;
        border-top-width: 2px;
        border-top-style: solid;
        border-top-color: #EF4C4C;
        background: #5A5A5A none repeat scroll 0% 0%;
        background-color: #A7B145;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        padding: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
}
footer#footer .colophon {
     background-color: #A7B145;
}
.social-icon:hover {
   color: #EF4C4C !important;
}
footer#footer a { 
     color: #5A5A5A; 
}
footer#footer a:hover { 
     color: #EF4C4C !important; 
}   
.label {
   padding-right: 5%;
   padding-left: 5%;
}
.en_savoir_plus, .acheter_un_disque {
  float: right;
}
.lamastrock {
    font-family: 'aleobold';
    font-size: 1.2em;
    text-align: center;
}
.bureau {
    color: #23282D;
}
.titre-terra-tempo {
     text-align: center;
     color: #EF4C4C;
     font-size: 2em;
     font-family: 'aleobold',Arial,"Arial Unicode MS",Helvetica,sans-serif;
     text-shadow: 1px 2px 3px rgba(0,0,0, 0.5);
}
.disco {   
      width: 100%;
      border-width: 1px;
      border-style: outset;
      border-color: #B8C069;
      border-radius: 0.5em;
      padding: 1em;
}
.titre-agenda-news {
      display: block;
      text-align: center;
}
.comments-link, .post h1, .post h2 {
   display: block !important;
}
/* taille lecteur media (soundcloud) */
.soundcloud {
      display: inline_block; 
      position: relative;
      margin: 5% 5% ;
      width: 50%;   
}
table {
      list-style-type : none;
}
.logo-web img {
     text-align: center;
     margin: 10px; 
     filter: grayscale(80%);
     -webkit-filter: grayscale(80%);
     -moz-filter: grayscale(80%);
     -o-filter: grayscale(80%);
     -ms-filter: grayscale(80%);
}
.logo-web img:hover {
    filter: grayscale(0%);
   -webkit-filter: grayscale(0%);
   -moz-filter: grayscale(0%);
   -o-filter: grayscale(0%);
   -ms-filter: grayscale(0%);  
}
.logo-rotate {
   -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
     transition: 0.3s ease-in-out;
}
.logo-rotate:hover{
     -webkit-transform:  scale(1.08);
     -moz-transform:  scale(1.08);
     -o-transform:  scale(1.08);
     -ms-transform:  scale(1.08);
      transform: scale(1.08); 
}
/* personnalisation etiquettes artistes */  
.su-posts {
    display: inline-block !important;     
    text-align: center;   
} 
.su-post {    
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    width: 30%;    
    min-width: 300px;
    margin: 0.4em;                  
}
.su-posts-teaser-loop .su-post-thumbnail, tc-smart-loaded {
    width: 100% !important;  
    height: auto !important;                     
}
.su-posts-teaser-loop .su-post, .comments-link, .post h1, .post h2 {
   display: inline-block;      
}
.su-posts-teaser-loop .su-post-thumbnail img {   
    border: none !important;
    padding: 0 !important;    
    width: 100% !important;
    height: auto !important;                       
}
.su-post:hover {         
       -webkit-transform:  scale(1.1);
       -moz-transform:  scale(1.1);
       -o-transform:  scale(1.1);
       -ms-transform:  scale(1.1);
       transform: scale(1.1);     
}
.su-posts-teaser-loop h2 {
      /* display: inline_block !important;*/    
      text-align: center;      
      text-shadow: 0;
      line-height: 1;           
}

.su-custom-gallery {
   display: inline-block !important;
   text-align: center; 
}
.su-custom-gallery .su-custom-gallery-slide  {
    display: inline-block !important;
    width: 30%;    
    min-width: 300px;
    text-align: center;    
    margin: 1em 0.7em;
    overflow: visible;    
}
.su-custom-gallery .su-custom-gallery-slide span {
        display: inline-block;
        padding: 0;
        font-family: 'aleobold';     
        font-size: 20px;
        bottom: -24px; 
        color: #EF4C4C;
        background-color: rgb(145, 206, 44);
        background: rgba(145, 206, 44, 0.7);
        background-color: rgba(145, 206, 44, 0.7);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
        border-radius: 8px;
        line-height: 1.3;
        opacity: 1;
        filter: alpha(opacity=0);
        transition: all .2s;
        -o-transition: all .2s;
        -ie-transition: all .2s;
        -moz-transition: all .2s;
        -webkit-transition: all .2s;
        text-align: center;
}
.su-custom-gallery .su-custom-gallery-slide img {    
    display: inline-block !important;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: all .2s;
    -o-transition: all .2s;
    -ie-transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    text-align: center;
}
.su-custom-gallery-slide:hover {         
       -webkit-transform:  scale(1.1);
       -moz-transform:  scale(1.1);
       -o-transform:  scale(1.1);
       -ms-transform:  scale(1.1);
       transform: scale(1.1);     
}
/* personnalisation image à la une */
.tc-rectangular-thumb img  {  
    position: absolute;  
    width: 100% !important;
    height: auto !important;
    padding-top: 115px;
    left:0;
    right:0;
    bottom:0;
    margin:auto;    
}
.attachment-slider .tc-thumb-type-thumb .wp-post-image .wp-post-image v-centered .tc-smart-loaded {
  width: 100% !important;  
  height: auto !important; 
}
/* personnalisation du expand */
.su-spoiler-title {
       position: relative;
       cursor: pointer;
       min-height: 40px;
       line-height: 40px;
       padding: 7px 7px 7px 34px;      
       font-family: 'aleoitalic'; 
       font-size: 26px !important;
       color: #737E35; 
       font-color: #737E35; 
}
.su-spoiler-title:hover {
    color:#A7B145;
}
/* personnalisation table terratempo */
.terratempo {
    display: inline-block;       
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px rgba(255, 255, 255, 0.3) inset;
    padding: 0 15% 0;
     background-color: #a7b145;   
}
.infos {     
    vertical-align: top; 
    margin: 4px;
    padding-bottom: 10px;
    display: inline-block;
    width: 100%;     
}
.infos table{
   background-color: #ecf0f1;
}
.infos table thead tr th {
   text-align: center;
   color: #a3ab32;
   text-shadow: 0px 1px 1px rgb(222, 39, 39);
   font-family: Helvetica;
   font-size: 21px;
   line-height: 28.8px;
}
.infos table tbody tr td {
  padding: 6px 0px 6px 0px;
  text-align: justify;
  font-size: 15px;
  font-family: verdana,geneva,sans-serif;
  color: #696969;
}
/* marge simple share buttons */
.ssba {
    padding-top: 50px !important;
}

/* Media Querries */
/*Stop the slider growing crazily*/
@media (min-width: 1400px) {
/*Stop the slider growing crazily*/
    .carousel > .center-slides-enabled > .item > .carousel-image img {
        max-width: 1200px;
        margin-left:auto;
        margin-right:auto;
        margin-top: 8%; 
        }
     .carousel-caption {
        position: absolute;
        width: 1190px;                           
        }
}
@media (min-width: 1200px) {
     .tc-rectangular-thumb img {
         height: 500px !important;
         width: 1200px !important;
         }
}
@media all and (max-width: 480px) {
   h1 {
     font-size: 1.2em;
   }
   p {
      font-size: 0.7em;
     }
   .post-column {
       display: inline;
       float: left;
       margin-right: 18px;
       width: 100%;
    }
   ol, ul {
      margin: 0;
   }
   .su-post, .su-custom-gallery .su-custom-gallery-slide {
     margin: 0;
    }      
}


